<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
    -->
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/application.css">
  <link rel="stylesheet" type="text/css" href="css/reveal.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
  <script type="text/javascript" src="js/application.js"></script>
  <script type="text/javascript" src="js/jquery.reveal.js"></script>

  <title></title>
</head>
<body>
  <%= yield %>
</body>
</html>
