<div id="gamebox" class="container">
  <table class="racer_table">
    <tr id="player1_strip">
      <th><%= @game.players[0].name %></th>
      <td class="active"></td>
    </tr>
    <tr id="player2_strip">
      <th><%= @game.players[1].name %></th>
      <td class="active"></td>
    </tr>
  </table>
</div>