<div id="results">
	Use this URL to access the results for this game!
	<a href="/<%=@url%>">
	http://localhost:9393/<%=@url%></a>
	<br><br>
	<a href="/" class="button"><button>New Players</button></a>
  <a href="/start" class="button"><button>Play again!</button></a>
</div>